<div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <!-- <li>
                            <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li> -->
                        <li>

                            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i>功能<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <%=link_to '存入手机型号', push_save_phone_path%>
                                    <!-- <a href="flot.html"></a> -->
                                </li>
                                <li>
                                    <%=link_to '推送', push_path%>
                                </li>
                                <li>
                                    <%= link_to '用户管理', users_show_path %>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>